/* DEFAULT */

body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #22343d;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/* CONTAINER */

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER */

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    margin-right: 237px;
}

.header-nav {
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    column-gap: 30px;
}

.header-nav-link {
    display: block;
    padding: 26px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
} 

.header-btn-list {
    display: flex;
    column-gap: 21px;
}

.header-btn {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    background-color: transparent;
}

.header-btn:hover, .header-btn:focus {
    background-color: #02897a;
    color: #fff;
    border-color: transparent;
}

/* SECTION 1 */

.hero-section {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    justify-content: center;
    align-items: center;
}

.hero-title {
    max-width: 452px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-text {
    max-width: 432px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-btn-list {
    display: flex;
    column-gap: 30px;
}

.hero-btn {
    border-radius: 4px;
}

.hero-btn-first {
    color: #fff;
    background: #02897a;
    border-color: transparent;
    min-width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
}

.hero-btn-second {
    border: none;
    background-color: transparent;
    min-width: 164px;
    height: 53px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    color: #02897a;
}

/* SECTION 2 */

.product-section {
    /* padding-top: 25px; */
    padding-bottom: 50px;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 50px;
}

.product-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.product-item-img {
    margin-bottom: 18.11px;
}

.product-item-subtitle {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}

.product-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    color: #22343d;
}

.ptoduct-btn {
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-color: transparent;
    display: block;
    margin: 0 auto;
}

/* SECTION 3 */